*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: #ffffff;
}

body {
  box-sizing: border-box;
  color: #444444;
  background: #ffffff;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*                          Global Styles                        */

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

main {
  padding: 4rem 7rem;
}

.heading {
  color: #212121;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}

.btn {
  padding: 1.6rem 3.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ed4b47;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  border-radius: 80px;
}

.btn:disabled {
  background-color: #eaedf0;
  color: #a8abad;
  cursor: not-allowed;
}

/*                  Media Queries                 */

@media all and (min-width: 1500px) {
  html {
    font-size: 70%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media all and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media all and (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  main {
    padding: 4rem;
  }
}

@media all and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.2rem;
  }

  main {
    padding: 3rem 1.6rem;
  }
}
