body::before {
  display: block;
  content: '';
  background-color: #fbf1e8;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

main {
  padding: 4rem 0;
}

.single-post {
  margin: 3rem 1.6rem;
  position: relative;
  z-index: 2;
}

.single-post__sub {
  margin: 1.6rem 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20px;
}

.single-post__card--tags {
  display: flex;
}

.single-post__card--tag {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-right: 0.8rem;
}

.single-post__card--tag:nth-child(n) {
  color: #ffb876;
}

.single-post__card--tag:nth-child(2n) {
  color: #ff7676;
}

.single-post__card--tag:nth-child(3n) {
  color: #76b5ff;
}

.single-post__info,
.single-post__details {
  display: flex;
  align-items: center;
}

.single-post__image {
  width: 100%;
  height: 280px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 20px 0px;
}

.single-post__details {
  margin: 2.8rem 0;
}

.single-post__avatar,
.post-comments__user--avatar,
.post-comments__replies--user--avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8rem;
}

.single-post__username,
.single-post__timeframe {
  font-size: 1.2rem;
}

.single-post__timeframe {
  display: list-item;
  margin-left: 0.6rem;
  list-style-position: inside;
}

.single-post__cta,
.single-post__cta--container {
  display: flex;
  align-items: center;
}

.single-post__cta {
  justify-content: space-between;
  margin-top: 2.4rem;
}

.single-post__cta--container .single-post__cta--box {
  display: flex;
  align-items: center;
  margin-right: 3.2rem;
}

.single-post__cta--btn,
.similar-post__card--cta-btn,
.post-comments__user-control--btn,
.post-comments__reply--cta,
.post-comments__cta--btn,
.post-comments__replies--user-control--btn,
.post-comments__replies--cta--btn,
.post-comments__replies--reply--cta {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.single-post__cta--icon {
  stroke: #212121;
  width: 2.2rem;
  height: 2.2rem;
}

.single-post__cta--text {
  font-weight: 300;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.single-post__content {
  margin: 4rem 0;
}

.single-post__wrapper {
  margin-bottom: 3.2rem;
}

.single-post__content--heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.single-post__content--image-container {
  padding: 6rem 0 1.6rem;
}

.single-post__content--image {
  width: 100%;
  height: 240px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 20px 0px;
  padding: 0 0.9rem;
}

.single-post__content--image-credit {
  font-size: 1.2rem;
  letter-spacing: -0.6px;
  padding-top: 1rem;
}

.single-post__content--box {
  margin-top: 2.4rem;
}

.single-post__content--text {
  font-size: 1.6rem;
  line-height: 20px;
  padding-bottom: 2.4rem;
}

.single-post__content--keypoint {
  font-style: italic;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 20px;
  letter-spacing: -0.66px;
}

.single-post__content--keypoint-author {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.66px;
  font-style: normal;
}

/*               Comments                */

.post-comments {
  background-color: #f5f5f5;
  padding: 6rem 1.6rem;
  margin-bottom: 6rem;
}

.post-comments__wrapper {
  margin-top: 4rem;
}

.post-comments__textfield--wrapper {
  padding: 0 1.6rem;
}

.post-comments__textfield {
  padding: 2rem 1.4rem;
  background: #ffffff;
  border-radius: 20px;
}

.post-comments__user-control,
.post-comments__user-control--box,
.post-comments__cta--box,
.post-comments__details,
.post-comments__cta--wrapper,
.post-comments__replies--user-control--box,
.post-comments__replies--details,
.post-comments__replies--user-control,
.post-comments__replies--cta--box {
  display: flex;
}

.post-comments__user-control,
.post-comments__replies--user-control {
  justify-content: space-between;
  align-items: baseline;
}

.post-comments__user-control--box,
.post-comments__replies--user-control--box {
  padding-bottom: 2.9rem;
  align-items: center;
}

.post-comments__username,
.post-comments__timeframe,
.post-comments__replies--username,
.post-comments__replies--timeframe {
  color: #212121;
  font-size: 1.2rem;
  letter-spacing: -0.66px;
  font-weight: 400;
}

.post-comments__timeframe,
.post-comments__replies--timeframe {
  display: list-item;
  margin-left: 0.8rem;
  list-style-position: inside;
}

.post-comments__icon,
.post-comments__replies--icon {
  stroke: #212121;
  width: 2.4rem;
  height: 2.4rem;
}

.post-comments__textarea {
  padding: 0 2.4rem;
  background-color: #ffffff;
  outline: none;
  resize: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 20px;
  letter-spacing: -0.66px;
  color: #444444;
  width: 100%;
}

.post-comments__btn {
  margin-left: auto;
  display: flex;
}

.post-comments__container {
  margin-top: 5rem;
}

.post-comments__comment:not(:first-child) {
  margin-top: 6rem;
}

.post-comments__text,
.post-comments__replies--text {
  font-size: 1.6rem;
  line-height: 20px;
  letter-spacing: -0.66px;
  color: #212121;
}

.post-comments__cta--wrapper {
  align-items: center;
}

.post-comments__comment--box,
.post-comments__replies--comment--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2rem 0;
}

.post-comments__cta--box,
.post-comments__replies--cta--box {
  align-items: center;
}

.post-comments__cta--box {
  padding-right: 2rem;
}

.post-comments__cta--icon,
.post-comments__replies--cta--icon {
  stroke: #212121;
  width: 2.4rem;
  height: 2.4rem;
}

.post-comments__cta--text,
.post-comments__replies--cta--text {
  color: #444444;
  font-weight: 300;
  font-size: 1.4rem;
  padding-left: 1.4rem;
}

.post-comments__reply--cta,
.post-comments__replies--reply--cta {
  color: #ed4b47;
  letter-spacing: -0.66px;
  font-size: 1.4rem;
  font-family: inherit;
}

.post-comments__replies {
  padding-top: 3.2rem;
  width: 85%;
  margin-left: auto;
  position: relative;
}

.post-comments__replies::before {
  display: block;
  content: '';
  background-color: #444444;
  opacity: 0.6;
  border-radius: 20px;
  width: 4px;
  height: 78%;
  margin-right: 1.6rem;
  position: absolute;
  left: -2rem;
}

/*             Similar Post             */

.similar-posts {
  padding: 0 1.6rem;
}

.similar-posts__heading {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.similar-posts__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.similar-post__card {
  margin-bottom: 3.6rem;
}

.similar-post__image {
  width: 100%;
  border-top-left-radius: 20px;
  height: 250px;
}

.similar-post__card--container {
  padding: 0.6rem 1.6rem;
  background-color: #f5f5f5;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 20px 0px;
}

.similar-post__card--info,
.similar-post__card--details,
.similar-post__card--box,
.similar-post__card--tags,
.similar-post__card--cta {
  display: flex;
  align-items: center;
}

.similar-post__card--avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.similar-post__card--username,
.similar-post__card--timeframe {
  font-weight: 400;
  font-size: 1rem;
}

.similar-post__card--timeframe {
  display: list-item;
  margin-left: 0.8rem;
  list-style-position: inside;
}

.similar-post__card--brief {
  margin-top: 1.2rem;
}

.similar-post__card--sub {
  font-size: 1.4rem;
  line-height: 18px;
  margin-top: 12px;
}

.similar-post__card--box {
  justify-content: space-between;
  margin-top: 1.8rem;
}

.similar-post__card--tags {
  flex-wrap: wrap;
}

.similar-post__card--tag {
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.similar-post__card--tag:nth-child(n) {
  color: #ffb876;
}

.similar-post__card--tag:nth-child(2n) {
  color: #ff7676;
}

.similar-post__card--tag:nth-child(3n) {
  color: #76b5ff;
}

.similar-post__card--cta-btn {
  margin-left: 1.6rem;
}

.similar-post__icon {
  width: 2rem;
  height: 2rem;
  stroke: #212121;
}

/*             Sub-footer             */

.sub-footer {
  background-color: #fbf1e8;
  padding: 4rem 2.4rem;
}

.sub-footer__heading {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: -2.5px;
}

.sub-footer__heading span {
  font-family: 'Pacifico', cursive;
  color: #ed4b47;
    font-weight: 400;
}

.sub-footer__sub {
  font-size: 1.4rem;
  color: #212121;
  text-align: center;
  padding: 1.6rem 0 3.2rem;
  letter-spacing: -0.7px;
}

.sub-footer__input {
  padding: 1.6rem 2rem;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: -0.656526px;
  color: #444444;
  display: block;
  width: 100%;
  margin-bottom: 2.4rem;
}

.sub-footer__btn {
  display: flex;
  margin: 0 auto;
}

/*               Footer             */

.footer {
  padding: 3.6rem 2rem 2rem;
  background: #ed4b47;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  display: block;
}

.footer__list {
  display: flex;
  justify-content: center;
  margin: 5rem 0 4rem;
}

.footer__item:not(:last-child) {
  padding-right: 4rem;
}

.footer__link {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
}

.footer__copy {
  text-align: center;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .single-post {
    margin: 3rem 5rem;
  }

  .single-post__container,
  .post-comments__control,
  .similar-posts__container {
    padding: 0 7rem;
  }

  .similar-posts {
    padding: 0 5rem;
  }

  .similar-posts__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .similar-post__image {
    height: 230px;
  }

  .post-comments {
    padding: 6rem 5rem;
  }

  /*               Sub-footer            */

  .sub-footer__form--container {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }

  .sub-footer__input,
  .sub-footer__btn {
    display: inline-block;
  }

  .sub-footer__input {
    width: 70%;
  }

  .sub-footer__btn {
    margin-left: -6rem;
    /* position: absolute;
    right: 8rem; */
  }

  /*               Footer            */

  .footer {
    padding: 3.2rem 5rem 3.2rem;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__list {
    margin: 0;
    margin-right: -13rem;
  }
}

@media only screen and (min-width: 1024px) {
  .single-post {
    margin: 3rem 7rem;
  }

  .single-post__heading {
    font-size: 3.6rem;
  }

  .single-post__sub {
    font-size: 2rem;
    margin: 1.6rem 0 3.6rem;
  }

  .single-post__avatar,
  .post-comments__user--avatar {
    width: 3.6rem;
    height: 3.6rem;
  }

  .single-post__details {
    margin: 4rem 0;
  }

  .single-post__card--tag,
  .single-post__username,
  .single-post__timeframe,
  .single-post__cta--text,
  .post-comments__username,
  .post-comments__timeframe,
  .post-comments__cta--text,
  .post-comments__btn,
  .post-comments__reply--cta,
  .post-comments__replies--username,
  .post-comments__replies--timeframe {
    font-size: 1.6rem;
  }

  .single-post__image {
    height: 400px;
  }

  .single-post__cta--box {
    margin-right: 1.6rem;
  }

  .single-post__content--heading,
  .post-comments__heading {
    font-size: 2.6rem;
  }

  .single-post__content--text,
  .post-comments__textarea,
  .post-comments__text,
  .post-comments__replies--text {
    font-size: 2rem;
    line-height: 26px;
  }

  .single-post__content--image-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3.2rem;
  }

  .single-post__content--image {
    height: 400px;
  }

  .single-post__content--image-credit {
    font-size: 1.6rem;
  }

  .single-post__content--keypoint {
    font-size: 2rem;
    line-height: 26px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3.2rem;
  }

  .post-comments__replies {
    width: 90%;
    margin-right: 2.4rem;
  }

  .similar-posts__heading {
    font-size: 3.2rem;
  }

  /*             Similar Posts               */

  .similar-posts {
    padding: 0 7rem;
  }

  .similar-posts__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  .similar-post__card--container {
    padding: 1.6rem 2rem;
  }

  .similar-post__card--avatar {
    width: 2.4rem;
    height: 2.4rem;
  }

  .similar-post__card--username,
  .similar-post__card--timeframe {
    font-size: 1.4rem;
  }

  .similar-post__card--sub {
    font-size: 1.6rem;
    line-height: 20px;
    margin-top: 1.6rem;
  }

  .similar-post__card--box {
    margin-top: 2.4rem;
  }

  .similar-post__card--tag {
    font-size: 1.4rem;
  }

  /*               Sub-footer            */

  .sub-footer {
    padding: 4rem 2.4rem;
  }

  .sub-footer__heading {
    font-size: 3.6rem;
  }

  .sub-footer__sub {
    font-size: 1.8rem;
    padding: 0.8rem 0 4rem;
  }

  .sub-footer__input {
    font-size: 2rem;
  }

  .sub-footer__btn {
    font-size: 2rem;
  }

  /*               Footer             */

  .footer__logo {
    font-size: 3.2rem;
  }

  .footer__link {
    font-size: 1.8rem;
  }

  .footer__copy {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .single-post__heading {
    font-size: 4rem;
  }

  .single-post__image {
    height: 520px;
  }

  .similar-post__card--container {
    padding: 1.6rem 2rem;
  }
}
